/* Start coding here */
/* Start coding here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    padding: 40px;
}

.box-1{
    height: 25%;
    background-color: khaki;
}

.box-2{
    height: 25%;
    background-color: orange;
}

.box-3{
    height: 50%;
    background-color: cornflowerblue;
}